cmake-build-debug/
cmake-build-release/

*.log
*.txt
*.cmake
*.json
*.cbp
*.dir
*.o
*.a
*.so
*.exe
build.ninja

#accountswithspace.txt will add later but so il peps can see the file when pullinh
CMakeCache.txt
CMakeFiles/